mSupply.com-Web/app/code/local/Msupply/Knowmore/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="knowmoreKnowmoreListEntity">
                <all>
                    <element name="entity_id" type="xsd:string" minOccurs="1" />
                    <element name="name" type="xsd:string" minOccurs="1" />
                    <element name="phone" type="xsd:string" minOccurs="1" />
                    <element name="email" type="xsd:string" minOccurs="1" />
                    <element name="message" type="xsd:string" minOccurs="1" />
                    <element name="status" type="xsd:string" minOccurs="0" />

                    <element name="created_at" type="xsd:string" minOccurs="1" />
                    <element name="updated_at" type="xsd:string" minOccurs="1" />
                </all>
            </complexType>
            <complexType name="knowmoreKnowmoreListEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:knowmoreKnowmoreListEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="knowmoreKnowmoreAddEntity">
                <all>
                    <element name="name" type="xsd:string" minOccurs="1" />
                    <element name="phone" type="xsd:string" minOccurs="1" />
                    <element name="email" type="xsd:string" minOccurs="1" />
                    <element name="message" type="xsd:string" minOccurs="1" />
                    <element name="status" type="xsd:string" minOccurs="0" />

                </all>
            </complexType>
            <complexType name="knowmoreKnowmoreUpdateEntity">
                <all>
                    <element name="name" type="xsd:string" minOccurs="1" />
                    <element name="phone" type="xsd:string" minOccurs="1" />
                    <element name="email" type="xsd:string" minOccurs="1" />
                    <element name="message" type="xsd:string" minOccurs="1" />
                    <element name="status" type="xsd:string" minOccurs="0" />

                </all>
            </complexType>
            <complexType name="knowmoreKnowmoreInfoEntity">
                <all>
                    <element name="entity_id" type="xsd:string" minOccurs="1" />
                    <element name="name" type="xsd:string" minOccurs="1" />
                    <element name="phone" type="xsd:string" minOccurs="1" />
                    <element name="email" type="xsd:string" minOccurs="1" />
                    <element name="message" type="xsd:string" minOccurs="1" />
                    <element name="status" type="xsd:string" minOccurs="0" />

                    <element name="created_at" type="xsd:string" minOccurs="1" />
                    <element name="updated_at" type="xsd:string" minOccurs="1" />
                </all>
            </complexType>
                </schema>
    </types>
    <message name="knowmoreKnowmoreListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="filters" type="typens:filters"/>
    </message>
    <message name="knowmoreKnowmoreListResponse">
        <part name="result" type="typens:knowmoreKnowmoreListEntityArray" />
    </message>
    <message name="knowmoreKnowmoreInfoRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="knowmoreId" type="xsd:string" />
    </message>
    <message name="knowmoreKnowmoreInfoResponse">
        <part name="result" type="typens:knowmoreKnowmoreInfoEntity" />
    </message>
    <message name="knowmoreKnowmoreAddRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="data" type="typens:knowmoreKnowmoreAddEntity" />
    </message>
    <message name="knowmoreKnowmoreAddResponse">
        <part name="result" type="xsd:int"/>
    </message>
    <message name="knowmoreKnowmoreUpdateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="knowmoreId" type="xsd:string" />
        <part name="data" type="typens:knowmoreKnowmoreUpdateEntity" />
    </message>
    <message name="knowmoreKnowmoreUpdateResponse">
        <part name="result" type="xsd:boolean" />
    </message>
    <message name="knowmoreKnowmoreRemoveRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="knowmoreId" type="xsd:string" />
    </message>
    <message name="knowmoreKnowmoreRemoveResponse">
        <part name="result" type="xsd:boolean" />
    </message>
        <portType name="{{var wsdl.handler}}PortType">
        <operation name="knowmoreKnowmoreList">
            <documentation>Retrieve list of knowmore</documentation>
            <input message="typens:knowmoreKnowmoreListRequest" />
            <output message="typens:knowmoreKnowmoreListResponse" />
        </operation>
        <operation name="knowmoreKnowmoreInfo">
            <documentation>Retrieve knowmore info</documentation>
            <input message="typens:knowmoreKnowmoreInfoRequest" />
            <output message="typens:knowmoreKnowmoreInfoResponse" />
        </operation>
        <operation name="knowmoreKnowmoreAdd">
            <documentation>Add knowmore</documentation>
            <input message="typens:knowmoreKnowmoreAddRequest" />
            <output message="typens:knowmoreKnowmoreAddResponse" />
        </operation>
        <operation name="knowmoreKnowmoreUpdate">
            <documentation>Update knowmore</documentation>
            <input message="typens:knowmoreKnowmoreUpdateRequest" />
            <output message="typens:knowmoreKnowmoreUpdateResponse" />
        </operation>
        <operation name="knowmoreKnowmoreRemove">
            <documentation>Remove knowmore</documentation>
            <input message="typens:knowmoreKnowmoreRemoveRequest" />
            <output message="typens:knowmoreKnowmoreRemoveResponse" />
        </operation>
        </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="knowmoreKnowmoreList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="knowmoreKnowmoreInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="knowmoreKnowmoreAdd">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="knowmoreKnowmoreUpdate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="knowmoreKnowmoreRemove">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>
