mSupply.com-Web/app/code/local/Msupply/Knowmore/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     name="{{var wsdl.name}}"
     targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="knowmoreKnowmoreEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:knowmoreKnowmoreEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="knowmoreKnowmoreEntity">
                <xsd:sequence>
                    <xsd:element name="entity_id" type="xsd:string" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="phone" type="xsd:string" />
                    <xsd:element name="email" type="xsd:string" />
                    <xsd:element name="message" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />

                    <xsd:element name="created_at" type="xsd:string" />
                    <xsd:element name="updated_at" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="knowmoreKnowmoreAddEntity">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="phone" type="xsd:string" />
                    <xsd:element name="email" type="xsd:string" />
                    <xsd:element name="message" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />

                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="knowmoreKnowmoreUpdateEntity">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="phone" type="xsd:string" />
                    <xsd:element name="email" type="xsd:string" />
                    <xsd:element name="message" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />

                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="knowmoreKnowmoreInfoEntity">
                <xsd:sequence>
                    <xsd:element name="entity_id" type="xsd:string" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="phone" type="xsd:string" />
                    <xsd:element name="email" type="xsd:string" />
                    <xsd:element name="message" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />

                    <xsd:element name="created_at" type="xsd:string" />
                    <xsd:element name="updated_at" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
        
            <xsd:element name="knowmoreKnowmoreListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="filters" type="typens:filters" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="knowmoreKnowmoreListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="typens:knowmoreKnowmoreEntityArray" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="knowmoreKnowmoreInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="knowmoreId" type="xsd:string" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="knowmoreKnowmoreInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:knowmoreKnowmoreInfoEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="knowmoreKnowmoreAddRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:knowmoreKnowmoreAddEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="knowmoreKnowmoreAddResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="knowmoreKnowmoreUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="knowmoreId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:knowmoreKnowmoreUpdateEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="knowmoreKnowmoreUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="knowmoreKnowmoreRemoveRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="knowmoreId" type="xsd:string" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="knowmoreKnowmoreRemoveResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
                </xsd:schema>
    </wsdl:types>
    <wsdl:message name="knowmoreKnowmoreListRequest">
        <wsdl:part name="parameters" element="typens:knowmoreKnowmoreListRequestParam" />
    </wsdl:message>
    <wsdl:message name="knowmoreKnowmoreListResponse">
        <wsdl:part name="parameters" element="typens:knowmoreKnowmoreListResponseParam" />
    </wsdl:message>
    <wsdl:message name="knowmoreKnowmoreInfoRequest">
        <wsdl:part name="parameters" element="typens:knowmoreKnowmoreInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="knowmoreKnowmoreInfoResponse">
        <wsdl:part name="parameters" element="typens:knowmoreKnowmoreInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="knowmoreKnowmoreAddRequest">
        <wsdl:part name="parameters" element="typens:knowmoreKnowmoreAddRequestParam" />
    </wsdl:message>
    <wsdl:message name="knowmoreKnowmoreAddResponse">
        <wsdl:part name="parameters" element="typens:knowmoreKnowmoreAddResponseParam"/>
    </wsdl:message>
    <wsdl:message name="knowmoreKnowmoreUpdateRequest">
        <wsdl:part name="parameters" element="typens:knowmoreKnowmoreUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="knowmoreKnowmoreUpdateResponse">
        <wsdl:part name="parameters" element="typens:knowmoreKnowmoreUpdateResponseParam"/>
    </wsdl:message>
    <wsdl:message name="knowmoreKnowmoreRemoveRequest">
        <wsdl:part name="parameters" element="typens:knowmoreKnowmoreRemoveRequestParam" />
    </wsdl:message>
    <wsdl:message name="knowmoreKnowmoreRemoveResponse">
        <wsdl:part name="parameters" element="typens:knowmoreKnowmoreRemoveResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="knowmoreKnowmoreList">
            <wsdl:documentation>Retrieve list of knowmores</wsdl:documentation>
            <wsdl:input message="typens:knowmoreKnowmoreListRequest" />
            <wsdl:output message="typens:knowmoreKnowmoreListResponse" />
        </wsdl:operation>
        <wsdl:operation name="knowmoreKnowmoreInfo">
            <wsdl:documentation>Retrieve knowmore info</wsdl:documentation>
            <wsdl:input message="typens:knowmoreKnowmoreInfoRequest" />
            <wsdl:output message="typens:knowmoreKnowmoreInfoResponse" />
        </wsdl:operation>
        <wsdl:operation name="knowmoreKnowmoreAdd">
            <wsdl:documentation>Add knowmore</wsdl:documentation>
            <wsdl:input message="typens:knowmoreKnowmoreAddRequest" />
            <wsdl:output message="typens:knowmoreKnowmoreAddResponse" />
        </wsdl:operation>
        <wsdl:operation name="knowmoreKnowmoreUpdate">
            <wsdl:documentation>Update knowmore</wsdl:documentation>
            <wsdl:input message="typens:knowmoreKnowmoreUpdateRequest" />
            <wsdl:output message="typens:knowmoreKnowmoreUpdateResponse" />
        </wsdl:operation>
        <wsdl:operation name="knowmoreKnowmoreRemove">
            <wsdl:documentation>Remove knowmore</wsdl:documentation>
            <wsdl:input message="typens:knowmoreKnowmoreRemoveRequest" />
            <wsdl:output message="typens:knowmoreKnowmoreRemoveResponse" />
        </wsdl:operation>
        </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="knowmoreKnowmoreList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="knowmoreKnowmoreInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="knowmoreKnowmoreAdd">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="knowmoreKnowmoreUpdate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="knowmoreKnowmoreRemove">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
