mSupply.com-Web/app/code/local/Msupply/Havequestion/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     name="{{var wsdl.name}}"
     targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="havequestionHavequestionEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:havequestionHavequestionEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="havequestionHavequestionEntity">
                <xsd:sequence>
                    <xsd:element name="entity_id" type="xsd:string" />
                    <xsd:element name="email" type="xsd:string" />
                    <xsd:element name="question" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />

                    <xsd:element name="created_at" type="xsd:string" />
                    <xsd:element name="updated_at" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="havequestionHavequestionAddEntity">
                <xsd:sequence>
                    <xsd:element name="email" type="xsd:string" />
                    <xsd:element name="question" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />

                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="havequestionHavequestionUpdateEntity">
                <xsd:sequence>
                    <xsd:element name="email" type="xsd:string" />
                    <xsd:element name="question" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />

                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="havequestionHavequestionInfoEntity">
                <xsd:sequence>
                    <xsd:element name="entity_id" type="xsd:string" />
                    <xsd:element name="email" type="xsd:string" />
                    <xsd:element name="question" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />

                    <xsd:element name="created_at" type="xsd:string" />
                    <xsd:element name="updated_at" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
        
            <xsd:element name="havequestionHavequestionListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="filters" type="typens:filters" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="havequestionHavequestionListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="typens:havequestionHavequestionEntityArray" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="havequestionHavequestionInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="havequestionId" type="xsd:string" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="havequestionHavequestionInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:havequestionHavequestionInfoEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="havequestionHavequestionAddRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:havequestionHavequestionAddEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="havequestionHavequestionAddResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="havequestionHavequestionUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="havequestionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:havequestionHavequestionUpdateEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="havequestionHavequestionUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="havequestionHavequestionRemoveRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="havequestionId" type="xsd:string" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="havequestionHavequestionRemoveResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
                </xsd:schema>
    </wsdl:types>
    <wsdl:message name="havequestionHavequestionListRequest">
        <wsdl:part name="parameters" element="typens:havequestionHavequestionListRequestParam" />
    </wsdl:message>
    <wsdl:message name="havequestionHavequestionListResponse">
        <wsdl:part name="parameters" element="typens:havequestionHavequestionListResponseParam" />
    </wsdl:message>
    <wsdl:message name="havequestionHavequestionInfoRequest">
        <wsdl:part name="parameters" element="typens:havequestionHavequestionInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="havequestionHavequestionInfoResponse">
        <wsdl:part name="parameters" element="typens:havequestionHavequestionInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="havequestionHavequestionAddRequest">
        <wsdl:part name="parameters" element="typens:havequestionHavequestionAddRequestParam" />
    </wsdl:message>
    <wsdl:message name="havequestionHavequestionAddResponse">
        <wsdl:part name="parameters" element="typens:havequestionHavequestionAddResponseParam"/>
    </wsdl:message>
    <wsdl:message name="havequestionHavequestionUpdateRequest">
        <wsdl:part name="parameters" element="typens:havequestionHavequestionUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="havequestionHavequestionUpdateResponse">
        <wsdl:part name="parameters" element="typens:havequestionHavequestionUpdateResponseParam"/>
    </wsdl:message>
    <wsdl:message name="havequestionHavequestionRemoveRequest">
        <wsdl:part name="parameters" element="typens:havequestionHavequestionRemoveRequestParam" />
    </wsdl:message>
    <wsdl:message name="havequestionHavequestionRemoveResponse">
        <wsdl:part name="parameters" element="typens:havequestionHavequestionRemoveResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="havequestionHavequestionList">
            <wsdl:documentation>Retrieve list of havequestions</wsdl:documentation>
            <wsdl:input message="typens:havequestionHavequestionListRequest" />
            <wsdl:output message="typens:havequestionHavequestionListResponse" />
        </wsdl:operation>
        <wsdl:operation name="havequestionHavequestionInfo">
            <wsdl:documentation>Retrieve havequestion info</wsdl:documentation>
            <wsdl:input message="typens:havequestionHavequestionInfoRequest" />
            <wsdl:output message="typens:havequestionHavequestionInfoResponse" />
        </wsdl:operation>
        <wsdl:operation name="havequestionHavequestionAdd">
            <wsdl:documentation>Add havequestion</wsdl:documentation>
            <wsdl:input message="typens:havequestionHavequestionAddRequest" />
            <wsdl:output message="typens:havequestionHavequestionAddResponse" />
        </wsdl:operation>
        <wsdl:operation name="havequestionHavequestionUpdate">
            <wsdl:documentation>Update havequestion</wsdl:documentation>
            <wsdl:input message="typens:havequestionHavequestionUpdateRequest" />
            <wsdl:output message="typens:havequestionHavequestionUpdateResponse" />
        </wsdl:operation>
        <wsdl:operation name="havequestionHavequestionRemove">
            <wsdl:documentation>Remove havequestion</wsdl:documentation>
            <wsdl:input message="typens:havequestionHavequestionRemoveRequest" />
            <wsdl:output message="typens:havequestionHavequestionRemoveResponse" />
        </wsdl:operation>
        </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="havequestionHavequestionList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="havequestionHavequestionInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="havequestionHavequestionAdd">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="havequestionHavequestionUpdate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="havequestionHavequestionRemove">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
